<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="user/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="user/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="user/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="user/stylesheets/main.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="animsition">
	{{>userheader}}

	
	<!--Custom Banner -->
	<section class="section-slide">
		<div class="wrap-slick1 ">
			<div class="slick1 ">
				{{#each banner}}
				<div class="item-slick1" style="background-image: url(/product/{{this.ImageFileName.[0]}});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{{this.title}}
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h6 class="ltext-150 cl2 p-t-19 p-b-43 respon1">
									{{this.subTitle}}
								</h6>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/shopPage" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
				{{/each}}			
			</div>
		</div>
	</section>

	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					 <p class="pt-2">
					<button class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Filter
					</button>
					</p>
					<div  class="collapse" id="collapseExample">
					<div class="card card-body">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>
						{{#each category}}
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{this.name}}">
							{{this.name}}
						</button>
						{{/each}}
					</div>
					</div>
					
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15 search" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>
			</div>
			<div class="row isotope-grid">
				
				
				{{#each products}}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{this.category}}">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="/product/{{this.ImageFileName.[0]}}"  alt="IMG-PRODUCT">

							<a href="/productDetailPage?product={{this._id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14 item-entry">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/productDetailPage?product={{this._id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 item-title">
									{{this.name}}
								</a>

								<s class="stext-105 cl3">
									MRP Rs.{{this.actualprice}}
								</s>

								<span class="stext-105 cl3">
									Rs.{{this.price}}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a><i onclick="wishlistItem('{{this._id}}')" class="zmdi zmdi-favorite"></i></a>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
		</div>
	</section>

	


	{{>userFooter}}

	<script>
		function search() {
		let product = document.getElementsByClassName('item-entry')
		let productname = document.getElementsByClassName('item-title')
		let searchval = document.getElementById('search').value.toLowerCase()
		for (i = 0; i < product.length; i++) {
			if (productname[i].innerHTML.toLowerCase().search(searchval) == -1) {
			product[i].hidden = true
			} else {
			product[i].hidden = false
			}
		}
		}
  	</script>

<!--===============================================================================================-->	
	<script src="user/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/bootstrap/js/popper.js"></script>
	<script src="user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="user/vendor/daterangepicker/moment.min.js"></script>
	<script src="user/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/slick/slick.min.js"></script>
	<script src="user/javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="user/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
	<script src="user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

	

<!--===============================================================================================-->
	<script src="user/javascripts/ajax.js"></script>
	<script src="user/javascripts/main.js"></script>

</body>
</html>